if SHIELD_CORNECAVE_LEFT

config ZMK_KEYBOARD_NAME
    default "CorneCave"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_CORNECAVE_LEFT || SHIELD_CORNECAVE_RIGHT

config ZMK_SPLIT
    default y

endif
