if SHIELD_CAPRICORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "CapriCorne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_CAPRICORNE_LEFT || SHIELD_CAPRICORNE_RIGHT

config ZMK_SPLIT
    default y

endif